
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {

  background-image: url(https://i.imgur.com/IyoOPwb.jpg?1);
  background-size: cover;
}
.gridcontainer {
  padding-top: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

div.grid {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

div.grid-item {
  width: 50px;
  height: 50px;
  /* border: 1px dashed black;
  color: white; */
}

div.grid-item.player {
 background-image: url("../assets/images/space-invaders-icons/baseshipa.ico");
  background-repeat: no-repeat;
  background-size: contain;
  /* background: red; */

}

div.grid-item.enemy{
  background-image: url("../assets/images/space-invaders-icons/saucer1b.ico");
  background-repeat: no-repeat;
  background-size: contain;

}

.startbuttons{
text-align: center;

}

.startbutton{
  background: rgb(0, 255, 102);
  font-family: PrintChar21;
  color:  grey;
  font-size: 25px;
  padding: 2px 5px;
  border: 3px;
  display: inline-block;
  margin-top: 140px;
