
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {

  background-image: url(https://i.imgur.com/IyoOPwb.jpg?1);
  background-size: cover;
}
.gridcontainer {
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

div.grid {
  width: 1000px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

div.grid-item {
  width: 50px;
  height: 50px;
  border: 1px dotted black;
}

div.grid-item.player {
 background-image: url("../assets/images/Luke's X-Wing Starfighter.F09.watermarked.2k.png");


  background-repeat: no-repeat;
  background-size: contain;
  /* background: red; */

}

div.grid-item.enemy{
  background-image: url("../assets/images/Vader's Tie Fighter.G01.watermarked.2k.png");
  /* url("https://i.imgur.com/ZHeEN2V.jpg"); */
  /* url("../assets/images/space-invaders-icons/saucer1b.ico"); */
  background-repeat: no-repeat;
  background-size: contain;

}

div.grid-item.missile{
background-image: url("../assets/images/Energy Beam.O01.watermarked.2k.png");
url("https://i.imgur.com/iv0OLQM.jpg");
/* url("../assets/images/missile.png" */

background-repeat: no-repeat;
background-size: contain;
background-position: center;
}

div.grid-item.explosion{
  background-image: url("../assets/images/LargeExplosion.png");
  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

div.grid-item.destroyer{
  background-image: url("../assets/images/Millennium Falcon.F09.watermarked.2k.png");
   background-repeat: no-repeat;
   background-size: contain;

}

.header{
padding-top: 155px;
display: flex;
justify-content: space-around;

}

.scorekeeper{
  text-align: center;
  background: rgb(0, 255, 102);
  font-family: PrintChar21;
  color:  grey;
  font-size: 15px;
  display: inline-block;
}

/* .button{
color: rgb(0, 255, 102);
} */


.start{
text-align: center;
background: rgb(0, 255, 102);
font-family: PrintChar21;
color:  grey;
font-size: 15px;
display: inline-block;
}

.lives{
text-align: center;
background: rgb(0, 255, 102);
font-family: PrintChar21;
color:  grey;
font-size: 15px;
display: inline-block;
}
